.vscode/**
.turbo/**
src/**
tsconfig.json
tsup.config.ts
**/*.map
**/tsconfig.json
.gitignore
**/*.test.ts
**/.eslintrc*
**/*.biome*
biome.json
node_modules/**
.yarn/**
CHANGELOG.md
CONTRIBUTING.md
SECURITY.md
SUPPORT.md
CODE_OF_CONDUCT.md
