.vscode/**
.turbo/**
src/**
tsconfig.json
esbuild.config.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
vitest.config.ts
dist-test/**
.vscode-test/**
**/*.map
**/tsconfig.json
.gitignore
**/*.test.ts
**/.eslintrc*
**/*.biome*
biome.json
node_modules/**
.yarn/**
CHANGELOG.md
CONTRIBUTING.md
SECURITY.md
SUPPORT.md
CODE_OF_CONDUCT.md
CLAUDE.md
.node-version
